 .container {
    position: absolute;
    width: 1081px;
    height: 550px;
    left: 325px;
    top: 140px;
    background: #FFFFFF;
    border-radius: 30px;
    overflow: auto;
    padding: 30px;
  } 

  .minha-task{
    width: 500px;
    height: 58px;
    left: 60px;
    top: 100px;
    padding: 8px;
    font-size: 48px;
    color: #28415D;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
  } 


  


